nz-header {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(65, 65, 241);

    h2 {
        margin: 0;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        a {
            line-height: normal;
        }

        .ant-avatar {
            background-color: rgb(123, 123, 244);

            .ant-avatar-string {
                font-size: 35px;

            }
        }
    }
}

.search-bar label {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
    color: white !important;
}