<nz-spin nzSize="large" [nzSpinning]="isSpinning">
    <!-- <div class="col-3 mx-auto mb-2 flex">
        <nz-form-label>Search</nz-form-label>
        <nz-input-group  class="ml-2" [nzSuffix]="suffixIconSearch">
            <input (keyup)="onSearchChange($event)" type="text" nz-input placeholder="search user" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>
    </div> -->
    <nz-table class="col-11 mx-auto" #basicTable [nzData]="dataSet">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td (click)="navigate(data.id)">{{data.firstName}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.email}}</td>
                <td>
                    <a nz-button nzType="primary" routerLink="/user/edit/{{data.id}}">Edit User</a>
                    &nbsp;
                    <button (click)="deleteUser(data.id)" nz-button nzType="primary">Delete User</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>