/* You can add global styles to this file, and also import other style files */
@import url('./assets/lib/hljs/styles/atom-one-light.css');
@import url('../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import './assets/scss/app.scss';

.flex {
    display: flex !important;
}

.items-center {
    align-items: center;
}

.have-grid {
    display: grid;
    grid-gap: 18px;
}

.two-column {
    grid-template-columns: 1fr 1fr;
}

.three-column {
    grid-template-columns: 1fr 1fr 1fr;
}

.align-center {
    text-align: center;
}

.hide {
    display: none !important;
}

.ant-spin-nested-loading>div>.ant-spin {
    position: fixed;
    max-height: 100%;
}